<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>主页</title>
      <link rel="stylesheet" href="/static/css/backend-plugin.min.css">
      <link rel="stylesheet" href="/static/css/backend.css">  </head>
  <body class="  ">
    <div class="wrapper">
      <div class="iq-sidebar  sidebar-default  ">
          <div class="iq-sidebar-logo d-flex align-items-end justify-content-between">
               <a href="" class="header-logo">
                  <img src="/static/picture/mcd-logo.jpg" class="img-fluid rounded-normal light-logo" alt="logo">
                  <span>门店评论分析系统</span>
              </a>
              <div class="side-menu-bt-sidebar-1">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-light wrapper-menu" width="30" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                      </svg>
                  </div>
          </div>
          <div class="data-scrollbar" data-scroll="1">
              <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="side-menu">
                      <li class="active sidebar-layout">
                          <a href="" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                                  </svg>
                              </i>
                              <span class="ml-2">首页界面</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="/page/hotWord" class="svg-icon ">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
                                  </svg>
                              </i>
                              <span class="ml-2">热词界面</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="/page/sentimentData0" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path>
                                  </svg>
                              </i>
                              <span class="ml-2">好评舆情</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                        <a href="/page/sentimentData1" class="svg-icon">
                            <i class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path>
                                </svg>
                            </i>
                            <span class="ml-2">中评舆情</span>
                        </a>
                    </li>
                    <li class=" sidebar-layout">
                        <a href="/page/sentimentData2" class="svg-icon">
                            <i class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 13v-1m4 1v-3m4 3V8M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path>
                                </svg>
                            </i>
                            <span class="ml-2">差评舆情</span>
                        </a>
                    </li>
                      <li class=" sidebar-layout">
                          <a href="/page/cloud" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"></path>
                                  </svg>
                              </i>
                              <span class="ml-2">词云界面</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="/page/map" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5"></path>
                                  </svg>
                              </i><span class="ml-2">地图界面</span>
                          </a>
                      </li>
                      <li class=" sidebar-layout">
                          <a href="/page/chat" class="svg-icon">
                              <i class="">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
                                  </svg>
                              </i>
                              <span class="ml-2">预测界面</span>
                              <p class="mb-0 px-2 badge badge-pill badge-success">New</p>
                          </a>
                      </li>

                      <li class=" sidebar-layout">
                        <a href="/user/userData" class="svg-icon">
                            <i class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"></path>
                                </svg>
                            </i>
                            <span class="ml-2">账号管理</span>
                        </a>
                    </li>

                  </ul>
              </nav>
              <div class="pt-5 pb-5"></div>
          </div>
      </div>
       <div class="iq-top-navbar">
          <div class="iq-navbar-custom">
              <nav class="navbar navbar-expand-lg navbar-light p-0">
                  <div class="side-menu-bt-sidebar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary wrapper-menu" width="30" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                      </svg>
                  </div>
                  <div class="d-flex align-items-center">
                      <div class="change-mode">
                          <div class="custom-control custom-switch custom-switch-icon custom-control-inline">
                              <div class="custom-switch-inner">
                                  <p class="mb-0"> </p>
                                  <input type="checkbox" class="custom-control-input" id="dark-mode" data-active="true">
                                  <label class="custom-control-label" for="dark-mode" data-mode="toggle">
                                      <span class="switch-icon-right">
                                          <svg xmlns="http://www.w3.org/2000/svg" id="h-moon" height="20" width="20" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path>
                                          </svg>
                                      </span>
                                      <span class="switch-icon-left">
                                          <svg xmlns="http://www.w3.org/2000/svg" id="h-sun" height="20" width="20" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path>
                                          </svg>
                                      </span>
                                  </label>
                              </div>
                          </div>
                      </div>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                          <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" width="30" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                          </svg>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto navbar-list align-items-center">
                              <li class="nav-item nav-icon dropdown">
                                  <a href="#" class="nav-item nav-icon dropdown-toggle pr-0 search-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <span class="mb-0 ml-2 user-name">{{ username }}</span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">

                                      <li class="dropdown-item  d-flex svg-icon border-top">
                                          <svg class="svg-icon mr-0 text-secondary" id="h-05-p" width="20" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path>
                                          </svg>
                                          <a href="/user/logout">登出</a>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
      <div class="content-page">
<div class="container-fluid">
   <div class="row">
      <div class="col-md-12 mb-4 mt-1">
         <div class="d-flex flex-wrap justify-content-between align-items-center">
             <h4 class="font-weight-bold">首页</h4>
         </div>
      </div>
      <div class="col-lg-8 col-md-12">
         <div class="row">
            <div class="col-md-4">
               <div class="card">
                  <div class="card-body">
                     <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-2 text-secondary">总评论数</p>
                            <div class="d-flex flex-wrap justify-content-start align-items-center">
                               <h5 class="mb-0 font-weight-bold">{{allcomment_count}}</h5>
                               <p class="mb-0 ml-3 text-success font-weight-bold"></p>
                            </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-2 text-secondary">评论最多的门店</p>
                            <div class="d-flex flex-wrap justify-content-start align-items-center">
                               <h5 class="mb-0 font-weight-bold">{{shopname_maxcomment}}</h5>
                               <p class="mb-0 ml-3 text-success font-weight-bold"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                           <p class="mb-2 text-secondary">最活跃区域</p>
                           <div class="d-flex flex-wrap justify-content-start align-items-center">
                              <h5 class="mb-0 font-weight-bold">{{active_region}}</h5>
                              <p class="mb-0 ml-3 text-danger font-weight-bold"></p>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                     <h4 class="font-weight-bold">评论分布时间</h4>
                     <div class="d-flex justify-content-between align-items-center">
                     </div>
                  </div>
                   <div id="main" style="width:100%;height:230px" class="custom-chart"></div>
                </div>
            </div>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-8">
         <div class="card card-block card-stretch card-height"style="width:100%;height:430px">
            <div class="card-header card-header-border d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">广州市麦当劳评论情感数量</h4>
               </div>
            </div>
            <div class="card-body-list">
               <ul class="list-style-3 mb-0">
                  <li class="p-3 list-item d-flex justify-content-start align-items-center">
                     <div class="avatar">
                        <img class="avatar avatar-img avatar-60 rounded" src="/static/picture/goodComment.png" alt="1.jpg">
                     </div>
                     <div class="list-style-detail ml-3 mr-2">
                        <p class="mb-0">好评</p>
                     </div>
                     <div class="list-style-action d-flex justify-content-end ml-auto">
                        <h6 class="font-weight-bold">👍{{goodCommentCount}}</h6>
                     </div>
                  </li>
                  <li class="p-3 list-item d-flex justify-content-start align-items-center">
                     <div class="avatar">
                        <img class="avatar avatar-img avatar-60 rounded" src="/static/picture/middleComment.png" alt="2.jpg">
                     </div>
                     <div class="list-style-detail ml-3 mr-2">
                        <p class="mb-0">一般</p>
                     </div>
                     <div class="list-style-action d-flex justify-content-end ml-auto">
                        <h6 class="font-weight-bold">👉{{middleCommentCount}}</h6>
                     </div>
                  </li>
                  <li class="p-3 list-item d-flex justify-content-start align-items-center">
                     <div class="avatar">
                        <img class="avatar avatar-img avatar-60 rounded" src="/static/picture/badComment.png" alt="3.jpg">
                     </div>
                     <div class="list-style-detail ml-3 mr-2">
                        <p class="mb-0">差评</p>
                     </div>
                     <div class="list-style-action d-flex justify-content-end ml-auto">
                        <h6 class="font-weight-bold">👎{{badCommentCount}}</h6>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="card card-block card-stretch card-height">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">食物词云</h4>
               </div>
            </div>
            <div class="card-body p-0">
                <div id="cloud" style="width: 100%; height: 300px; overflow: hidden; margin-top: 15px;">
                </div>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-6">
      <div class="card card-block card-stretch card-height">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">情感占比</h4>
                </div>
            </div>

            <div class="card-body p-0">
                <div id="main2" style="width:100%;height:350px">

                </div>
            </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-6">
         <div class="card card-block card-stretch card-height">
            <div class="card-header d-flex justify-content-between">
               <div class="header-title">
                  <h4 class="card-title">区域门店数</h4>
               </div>
            </div>

            <div class="card-body p-0">
                <div id="main3" style="width: 100%;height:350px">

                </div>
            </div>
         </div>
      </div>

   </div>

</div>
      </div>
    </div>

    <footer class="iq-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="">Copyright&copy;</a></li>
                        <li class="list-inline-item"><a href="">JUPITER-MCD Lin Jiaze 2024</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 text-right">
                    <span class="mr-1">20大数据B1班 202010620117 <a target="_blank" href=""></a></span>
                </div>
            </div>
        </div>
    </footer>

    <script src="/static/js/echarts.min.js"></script>
    <script>
    var chartDom = document.getElementById('main');
    var myChart = echarts.init(chartDom);
    var option;
    option = {
        legend: {data: ['积极', '中性', '消极']},
        xAxis: {type: 'category', data: []},
        yAxis: {type: 'value'},
        series: [
            {name: '积极', data: [], type: 'line',smooth: true ,itemStyle: { color: 'green' }},
            {name: '中性', data: [], type: 'line',smooth: true, itemStyle: { color: 'blue' }},
            {name: '消极', data: [], type: 'line',smooth: true, itemStyle: { color: 'yellow' }}]};

    // 填充数据
    var sentimentData = [
        {% for year, year_data in sentiment_counts.iterrows() %}
            {
                'year': '{{ year }}',
                'sentiment': {
                    '0': {{ year_data[0] }},
                    '1': {{ year_data[1] }},
                    '2': {{ year_data[2] }}
                }
            },
        {% endfor %}
    ];

    // 将数据填充到新的选项结构中
    sentimentData.forEach(function (data) {
        option.xAxis.data.push(data.year);
        option.series[0].data.push(data.sentiment['0']);
        option.series[1].data.push(data.sentiment['1']);
        option.series[2].data.push(data.sentiment['2']);
    });
    option && myChart.setOption(option);
    </script>
    <script>
    var chartDom = document.getElementById('main2');
    var myChart = echarts.init(chartDom);
    var option;
    var shData = JSON.parse('{{ sh_json|safe }}');
    option = {
      tooltip: {trigger: 'item'},
      legend: {top: '5%', left: 'center'},
      series: [
        {type: 'pie', radius: ['40%', '70%'], avoidLabelOverlap: false,
          itemStyle: {borderRadius: 10, borderColor: '#fff', borderWidth: 2},
          label: {show: false, position: 'center'},
          emphasis: {label: {show: true, fontSize: 40, fontWeight: 'bold'}},
          labelLine: {show: false},
          data: [
            { value:shData[0], name: '积极' ,itemStyle: { color: 'red' }},
            { value:shData[1], name: '中性' ,itemStyle: { color: 'purple' }},
            { value:shData[2], name: '消极' ,itemStyle: { color: 'blue' }}]}]};
        option && myChart.setOption(option);
    </script>
    <script>
    var chartDom = document.getElementById('main3');
    var myChart = echarts.init(chartDom);
    var option;
    var srData = JSON.parse('{{ sr_json|safe }}');
    var regions = Object.keys(srData);
    var storeCounts = Object.values(srData);
    option = {
        grid: {
        left: '15%', // 设置左侧偏移量
        right: '10%', // 设置右侧偏移量
        top: '3%', // 设置顶部偏移量
        bottom: '10%' // 设置底部偏移量
    },
        yAxis: {type: 'category', data: regions },
        xAxis: {type: 'value'},
        series: [{data: storeCounts, type: 'bar'}]};
    option && myChart.setOption(option);
    </script>
    <script>
    var chartDom = document.getElementById('');
    var myChart = echarts.init(chartDom);
    var option;
    var top10food = JSON.parse('{{ top10_food_json|safe }}');
    option = {
            tooltip: {},
            series: [{
                type: 'wordCloud',
                gridSize: 10,
                sizeRange: [20, 80],  // 字体大小范围
                rotationRange: [-90, 90],  // 字体旋转角度范围
                shape: 'triangle',
                textStyle: {
                    normal: {
                        color: function () {
                            return 'rgb(' + [
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255),
                                Math.round(Math.random() * 255)
                            ].join(',') + ')';
                        }
                    }
                },
                data: top10food.map(function (item) {
                    return {
                        name: item[0],
                        value: item[1]
                    };
                })
            }]
        };
    option && myChart.setOption(option);

    </script>
    <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
    <script src="/static/js/echarts-wordcloud.min.js"></script>
    <script src="/static/js/backend-bundle.min.js"></script>
    <script src="/static/js/customizer.js"></script>
    <script src="/static/js/sidebar.js"></script>
    <script src="/static/js/flex-tree.min.js"></script>
    <script src="/static/js/tree.js"></script>
    <script src="/static/js/table-treeview.js"></script>
    <script src="/static/js/sweetalert.js"></script>
    <script src="/static/js/vector-map-custom.js"></script>
    <script src="/static/js/chart-custom.js"></script>
    <script src="/static/js/01.js"></script>
    <script src="/static/js/02.js"></script>
    <script src="/static/js/slider.js"></script>
    <script src="/static/js/index.js" type="module"></script>
    <script src="/static/js/app.js"></script>  
    <script>
    var GchartDom = document.getElementById('cloud');
    var Gchart = echarts.init(GchartDom);
    var data1 = {{ foodData | tojson}};
    var maskImage = new Image();
    var Goption = {
        series: [ {
            type: 'wordCloud',
            sizeRange: [15, 50],
            rotationRange: [0, 0],
            gridSize: 0,
            shape: 'circle',
            // maskImage: maskImage,
            drawOutOfBound: false,
            // layoutAnimation: true,
            keepAspect: true,
            textStyle: {
                fontWeight: 'bold',
                color: function () {
                    return 'rgb(' + [
                        Math.round(Math.random() * 200) + 50,
                        Math.round(Math.random() * 50),
                        Math.round(Math.random() * 50) + 50
                    ].join(',') + ')';
                }
            },
            emphasis: {textStyle: {color: '#528'}},
            data: data1.sort(function (a, b) {
                return b.value  - a.value;
            })
        } ]
    };
    maskImage.onload = function () {
        Goption.series[0].maskImage
        Gchart.setOption(Goption);
    }
    maskImage.src = '/static/picture/ham.png';
    window.onresize = function () {
        Gchart.resize();
    }     
    </script>
    
    
    </body>
</html>